#navbar {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.nav-item {
  padding: 1em 1em 1em 1em;
  flex-grow: 1;
  text-align: center;
}

.nav-item:hover {
  background-color: #565656;
}